<div class="section-art__person person-block">
    <h2 class="person-block__title">Chef Cook</h2>
    <div class="person-block__row">
        <span class="person-block__name person-block__name--left">Benito</span>
        <img class="person-block__img" src="./images/sections/art/person_img.png">
        <span class="person-block__name person-block__name--right">Gaspare</span>
    </div>
    <div class="person-block__quote block-quote">
        <img class="block-quote__mark block-quote__mark--left" src="./images/sections/art/quote_mark_left.svg">
        <span class="block-quote__text">Unique creations for unique occasions.</span>
        <img class="block-quote__mark block-quote__mark--right" src="./images/sections/art/quote_mark_right.svg">
    </div>
</div>