<section class="section-art clearfix">
    <img class="section-art__icon" src="./images/sections/art/icon.svg">
    <div class="section-art__content">
        <h1 class="title section-art__title">Art of cakes</h1>
        <b class="subtitle section-art__subtitle">we create delicious memories</b>
        <p class="section-art__text">Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed.</p>
        {% include "blocks/_person.njk" %}
    </div>
    <div class="section-art__gallery">
        <figure class="gallery-art">
            <img class="gallery-art__item" src="./images/sections/art/photo-art1.jpg" width="295" height="250">
            <img class="gallery-art__item" src="./images/sections/art/photo-art2.jpg" width="295" height="250">
            <img class="gallery-art__item" src="./images/sections/art/photo-art3.jpg" width="295" height="250">
            <img class="gallery-art__item" src="./images/sections/art/photo-art4.jpg" width="295" height="250">
        </figure>
        <img class="section-art__center-img" src="./images/sections/art/photo-art-center.svg" width="" height="">
    </div>
</section>