<section class="section-promo">
    <div class="section-promo__info">
        <h1 class="section-promo__title">Pastry with love</h1>
        <img class="section-promo__line" src="./images/sections/promo/promo_line.svg" width="193" height="13">
        <p class="section-promo__text">We’re bringing you fresh ingredients every day in ways you can’t resist</p>
        <a class="btn section-promo__btn" href="#">our menu</a>
    </div>
</section>