<section class="section-tasty container">
    <div class="section-tasty__tasty-block tasty-block container clearfix">
        <ul class="tasty-block__widget-list widget-list">
            <li class="widget-item widget-item--active">
                <div class="widget-item__name">ready in</div>
                <div class="widget-item__digits-text">40</div>
                <span class="widget-item__text">mins</span>
            </li>
        </ul>
        <img class="tasty-block__img" src="images/sections/tasty/tasty_img.png">
        <div class="tasty-block__content">
            <h1 class="title tasty-block__title">Tasty pancakes</h1>
            <b class="subtitle tasty-block__subtitle">season favourite</b>
            <p class="tasty-block__text">Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus.</p>
            <div class="tasty-block__gallery">
                <button class="btn-gallery btn-gallery--prev">prev</button>
                <figure class="gallery-tasty">
                    <img class="gallery-tasty__item" src="images/sections/tasty/photo-tasty1.png" width="" height="">
                    <img class="gallery-tasty__item" src="images/sections/tasty/photo-tasty2.png" width="" height="">
                    <img class="gallery-tasty__item" src="images/sections/tasty/photo-tasty3.png" width="" height="">
                </figure>
                <button class="btn-gallery btn-gallery--next">next</button>
            </div>
        </div>
    </div>
</section>