<header class="header">
    <span class="header__logo logo">Gustoso</span>
    <nav class="header__navigation navigation">
        <ul>
            <li class="navigation__item">
                <a href="#">welcome</a>
            </li>
            <li class="navigation__item">
                ~
            </li>
            <li class="navigation__item">
                <a href="#">menu</a>
            </li>
            <li class="navigation__item">
                ~
            </li>
            <li class="navigation__item">
                <a href="#">reservations</a>
            </li>
            <li class="navigation__item">
                ~
            </li>
            <li class="navigation__item">
                <a href="#">news</a>
            </li>
            <li class="navigation__item">
                ~
            </li>
            <li class="navigation__item">
                <a href="#">contact</a>
            </li>
        </ul>
    </nav>
    {% include "shared/_networks.njk" %}
</header>