<section class="header__networks networks">
    <a class="networks__social-btn networks__social-btn--tw" href="#">VK</a>
    <a class="networks__social-btn networks__social-btn--fb" href="#">FB</a>
    <a class="networks__social-btn networks__social-btn--inst" href="#">Instagram</a>
</section>